<!--
<a href="https://geo.itunes.apple.com/us/album/donuts/1387391775?i=1387391806&app=itunes" style="display:inline-block;overflow:hidden;background:url(https://linkmaker.itunes.apple.com/assets/shared/badges/en-us/itunes-lrg.svg) no-repeat;width:140px;height:41px;background-size:contain;"></a>

-->
<a href="{{ .Get "link"}}" style="display:inline-block;overflow:hidden;background:url(https://linkmaker.itunes.apple.com/assets/shared/badges/en-us/itunes-lrg.svg) no-repeat;width:140px;height:41px;background-size:contain;"></a>