<!--
<iframe src="https://open.spotify.com/follow/1/?uri=spotify:artist:6sFIWsNpZYqfjUpaCgueju&size=detail&theme=light" width="300" height="56" scrolling="no" frameborder="0" style="border:none; overflow:hidden;" allowtransparency="true"></iframe>

<spotify src="spotify:blahblahblah" theme="dark">
-->
<iframe src="https://open.spotify.com/follow/1/?uri={{ .Get "src" }}&size=detail&theme={{ .Get "theme" }}" width="300" height="56" scrolling="no" frameborder="0" style="border:none; overflow:hidden;" allowtransparency="true"></iframe>